* {
    margin: 0px;
    font-family: 'Lato';

}

section {
    padding: 16px 100px 0px 100px;
    margin-bottom: 60px;
}

/* header/banner part style */
header {
    background: rgba(229, 84, 115, 0.1);
    /* padding: 20px 100px 0px 100px; */

}

.flower-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 900;

}

.banner-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111010;
    padding-bottom: 16px;
}

.nav-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

.nav-list>li>a {
    text-decoration: none;
    color: white;
}

.btn-main {
    font-weight: 700;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: white;
    padding: 20px 40px;
}

/* banner body style */
.banner-body {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;

}

.banner-body-title {
    font-size: 80px;
    font-weight: 800;
}

.banner-body-para {
    margin: 36px 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.banner-body-img {
    width: 50%;
}

/* our featured flowers section style */
.ft-flower {
    margin-bottom: 150px;
}

.sec-title {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.sec-para {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 42px;
}

.ft-flower-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-decoration: underline;
}

.ft-flower-item img {
    width: 300px;
    height: 380px;
    margin-bottom: 32px;

}

.item1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.item2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.item3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* service style */
.why-we {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0px 100px 120px;
    padding-bottom: 24px;
}

.why-we-title {
    margin-bottom: 80px;
}

.different-service {
    display: flex;
    justify-content: space-around;
}

.service {
    text-align: center;
}

/* hot deal style */
.hot-deal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.hot-deal-des {
    text-align: center;
}

/* instagram part styles */
.insta>img {
    width: 22%;
}

.insta {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* news letter subscription style */
.news {

    background-image: url(../images/Rectangle\ 9.png);
    background-size: cover;
    margin: 150px 100px 120px;
    padding-bottom: 84px;
}

.news-title {
    margin-top: 36px;
}

.news-subscription {
    text-align: center;
}

#news-mail {
    border: none;
    border-radius: 8px;
    background: #FFF;
    padding: 18px 300px 18px 20px;

}

/* footer style */
footer {
    padding: 20px 100px 160px 100px;
    margin-top: 60px;
    background: #111010;
    text-align: center;
}

.foot-para {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 46px;
    margin-top: 32px;
}

.copyright-para {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.white-text{
    color: white;
}